
@{
    ViewBag.Title = "Logueados";
}

<h2>Logueados</h2>

aca vamos a mostrar de una manera magica quien se logeo y luego quien esta logueado

<hr />
Bienvenido : @ViewBag.UsuarioLogueador.Nombre
<hr />
Lista de Mensajes <br />
@foreach (var mensaje in @ViewBag.UsuarioLogueador.Mensajes)
{
    @mensaje
    <br />
}
<hr />
<form action="EnviarMensaje" method="get">
    <label>Mensaje : </label><br />
    <input type="text" id="txtMensaje" name="Mensaje" />
    <select id="ddlUsuarios" name="UsuarioSeleccionado">
        @foreach (Servidor.Models.Usuario usuario in ViewBag.Usuarios)
        {
            <option id="@usuario.Nombre" value="@usuario.Nombre">@usuario.Nombre</option>
        }
    </select>
    <input type="submit" value="Enviar Mensaje" />
</form>
